<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: Roboto,arial,sans-serif;text-align: center;margin: 0 auto;background: #151E3B;">
    <div style="margin-bottom:1em">&nbsp;</div>
    <div style="color: white;margin-bottom: 1rem; height: 200px;padding-top: 4em;margin: 0 auto;">
        <div style="color: #FF4833;margin-bottom: 1rem;">¡Cumpleaños feliz!</div>
        <h1>{name}</h1>

        <div>Un año más e igualan la cantidad de versiones del IBE ;)</div>

        <div style="margin-top: 0.7em;font-weight: bold;color: #30a2ae;margin-bottom:1em">¡El equipo de Newshore les desea lo mejor en su día!</div>
    </div>
</body>
</html>