<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emailFrom" value="" />
    <add key="emailPassword" value="" />
    <add key="emailTo" value="" />
    
    <add key="emailSubject" value="New birthdays!" />
    
    <add key="birthdayDocPath" value="Birthdays.txt" />
    <add key="logDocPath" value="Log.txt" />
  </appSettings>
</configuration>
